/* MACOS SPOTLIGHT LIKE DARK THEME FOR ROFI  */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    font:   "Montserrat 12";

    //background color
    bg0:    rgba(18, 38, 28, 0.8);
    //for "message" whatever that means
    bg1:    #00d2ff;
    //hightlight color over selected item(s)
    bg2:    rgba(74, 222, 128, 0.2);

    //unhighlited text color
    fg0:    #d1fae5;
    //highlighted text color
    fg1:    #d1fae5;
    //entry text color
    fg2:    #d1fae5;

    background-color:   transparent;
    text-color:         @fg0;

    margin:     0;
    padding:    0;
    spacing:    0;
}

window {
    background-color:   @bg0;

    location:       center;
    width:          640;
    border-radius:  8;
    border-color:   transparent;
}

inputbar {
    font:       "Montserrat 20";
    padding:    12px;
    spacing:    12px;
    children:   [ icon-search, entry ];
}

icon-search {
    expand:     false;
    filename:   "search";
    size: 28px;
}

icon-search, entry, element-icon, element-text {
    vertical-align: 0.5;
}

entry {
    font:   inherit;
    text-color: @fg0;

    placeholder         : "Search";
    placeholder-color   : @fg2;
}

message {
    border:             2px 0 0;
    border-color:       @bg1;
    background-color:   @bg1;
}

textbox {
    padding:    8px 24px;
}

listview, mainbox {
    lines:      10;
    columns:    1;

    fixed-height:   false;
    border:         1px 0 0;
    border-color:   transparent;
    background-color: transparent;
}

element {
    padding:            8px 16px;
    spacing:            16px;
    background-color:   transparent;
}

element normal normal, element alternate normal{
    background-color: transparent;
    text-color: @fg0;
}

element normal active, element alternate active {
    text-color: @bg2;
    background-color: @bg0;

}

element selected normal, element selected active {
    background-color:   @bg2;
    text-color:         @fg1;
}

element-icon {
    size:   1em;
}

element-text {
    text-color: inherit;
}
